## live-net-initramfs - System Configuration Components
##
## live-net-initramfs contains the components that configure a live system during
## the boot process (late userspace).
##
## This is the systemd service for live-net-initramfs.

[Unit]
Description=General purpose mysql configuration
DefaultDependencies=no
Conflicts=shutdown.target
After=network.target
#Before=lnet-services.service
ConditionKernelCommandLine=boot=lnet

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/lnet-mysql start
Slice=system-ctl.slice

[Install]
WantedBy=basic.target
